@media screen and (max-width: 1300px) {
	.menu__nav{
		display: none;
	}
	.container {
		width: 375px;
		margin: 0 auto;
		padding: 0;
	}
	.menu__button {
		display: none;
	}
	.menu__namber span {
		width: 126px;
		font-family: Nunito Sans;
		font-size: 11px;
		font-weight: 400;
		color: rgba(255, 255, 255, 1);
	}
		.hero__heading {
		font-family: Yeseva One;
		font-size: 23px;
		font-weight: 400;
		line-height: 31px;
		letter-spacing: 0em;
		text-align: left;
		}
}